body{
    font-family: Arial;
    background-color: aliceblue;
    padding: 40px 0px;
    border-radius: 10%;
}

section,
header{
    padding: 32px 60px 20px 60px;
    background-color: white;
    width: 960px;
    margin: 0 auto;
}

h1{
    display: inline;
    font-size: 30px;
}

.imie{
    border: 2px dashed black;
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}


th, td{
    padding: 10px;
}

.hui img{
    width: 100px;
    height: 100px;
}

.info td{
    text-align: center;
}
.krotki-opis{
    font-family: 'Courier New', Courier, monospace;
}

.dlugi-opis{
    line-height: 1.5;
}

dl > dt{
    font-style: italic;
}

h3{
    text-shadow: 1px 1px;
}

h2{
    text-transform: uppercase;
    quotes: auto;
}

.tytuł-kolor{
    color:red;
}

a.yt {
    font-weight: bold;
}

a:hover{
    color:hotpink;
}
/* a:visited{
    color: deeppink;
}
a:active{
    color:blue;
}
a:link{
    color:black;
}
.main-page:hover{
    color: red;
} */
.teb-foto{
    width: 140px;
    height: 100px;
}